terraform {
  backend "azurerm" {
    resource_group_name  = <azurerm_resource_group>
    storage_account_name = <azurerm_storage_account>
    container_name       = <azurerm_storage_container_tfstate>
    key                  = "terraform.tfstate-"
  }
}
